body {
    margin: 0;
    font-family: 'Segoe UI', Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

:root {
    --secondary: #f18e1e;
    --secondaryLight: #f5b563;
    --primary: #01717a;
    --primary-dark: #015a61;
    --paleBlue: #e6f4f5;
    --dropShadow: #c5d8da;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
    margin: 0;
}

.MuiDialogTitle-root {
    border-bottom: 2px solid #01717a !important;
    background: #e6f4f5 !important;
}

.MuiTooltip-tooltip,
.MuiSpeedDialAction-staticTooltipLabel {
    background: #01717a !important;
}

.MuiTooltip-arrow {
    color: #01717a !important;
}

h1 {
    color: #333333;
}
